<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    setInterval(function() { location.replace("{{ appurl }}"); }, 3000);
</script>
<center>
<img src="http://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif">
<br/>*beep* *bop* *bop* *beep* loading your app..
</center>
</html>
